.catalog {
  display: flex;
  flex-direction: column;

  .catalog-header {
    margin-left: 10px;
    margin-bottom: 60px;
  }
  .catalog-choose-panel {
    display: flex;
    .catalog-choose-panel-sort-button {
      cursor: pointer;
      height: 40px;
      margin-left: 45px;
      font-size: 15px;
      display: flex;
      background-color: #101010;
      color: #fff;
      border: none;
      font-family: "Montserrat";
      padding: 10px;
      border-radius: 10px;
      transition: all 0.5s ease;
      &:hover {
        color: #ffa542;
      }
    }
    .catalog-choose-panel-items {
      display: flex;
      margin-left: 75px;
      flex-direction: row;
      .catalog-choose-panel-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        margin-bottom: 60px;
        span {
          transition: all 0.3s ease;
          &:hover {
            color: #ffa542;
          }
        }
        img {
          margin-right: 10px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .catalog-card-container {
    width: 1110px;
    display: flex;
    // margin-bottom: 130px;
    flex-wrap: wrap;

    .catalog-card {
      border-radius: 15px;
      margin-bottom: 30px;
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      width: 250px;
      height: 270px;
      display: flex;
      flex-direction: column;
      margin-left: 70px;
      justify-content: center;
      align-items: center;
      padding: 15px;
      transition: all 0.3s ease;
      &:hover {
        transform: translateY(2px);
      }

      .catalog-card-img {
        width: 100px;
      }
      .catalog-card-title {
        font-size: 18px;
        margin-top: 10px;
      }
      .catalog-card-description {
        margin-top: 5px;
        font-size: 13px;
        color: #8b8f92;
        margin-bottom: 8px;
      }
      .catalog-card-basket {
        padding-bottom: 10px;
        margin-top: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        img {
          cursor: pointer;
          width: 25px;
          height: 25px;
        }
        button {
          background-color: #101010;
          color: #fff;
          font-family: "Montserrat";
          border: none;
          border-radius: 15px;
          padding: 10px;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            color: #ffa542;
          }
        }
      }
      .catalog-card-like {
        display: flex;
        width: 100%;

        .catalog-fill-favorite {
          cursor: pointer;
          width: 22px;
          height: 22px;
        }

        img {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .catalog {
    max-width: 400px;
    .catalog-choose-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 50px;
      // display: none;
      .catalog-choose-panel-items {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        max-width: 400px;
        margin-left: 40px;
        .catalog-choose-panel-item {
          // margin-right: 10px;
          margin-left: 0;
        }
      }
    }
    .catalog-card-container {
      max-width: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0;
      margin-bottom: 200px;
      .catalog-card {
        margin-right: 25px;
      }
    }
  }
}
